
@media (min-width: 0px) {

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .buttonContainer {
    margin-right: 10px;
    position: fixed;
    width: 75px;
    top: 75px;
    left: 0px;
  }

  #sidebar {
    width: 100%;
    min-height: 100px;
    border: 1px solid #f1f1f1;
  }
  #sidebar h2{
    font-family: sans-serif;
  }

  #tweet-log {
      width: 100%;
      height: 780px;
      border: 1px solid #1e90ff;
      border-radius: 3px;
      margin: 10px;
      font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      overflow-y: scroll;
  }
  .padded-top {
      padding-top: 8px;
  }

  /*IMAGES STYLES*/
  .images img {
    width: 40px;
    margin: 5px;
    border-radius: 20px;
  }
  .images {
    float: left;
  }

  
  /*Tweets Styling */
  .tweet {
    padding: 10px 20px;
    border-bottom: 1px solid #222;
  }
  .tweet:nth-child(even) {
      background-color: #f1f1f1;
  }
  .tweet .msg {
      color: rgb(119, 119, 119);
  }
  .userlink {
    color: navy;
    font-style: italic;
    font-size: 1.5rem;
    text-decoration: none;

  }
  .userlink:hover {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .msg {
    margin-left: 3%;
  }
  .idx {
    
  }
  .timestamp {
    font-size: .7em;
    color: #000;
    margin-left: 3%;
  }

  /*Button Styles */
  .off {
      display: none !important;
  }
  .on {
      display: block;
  }
   button {
    display: inline-block;
    width: 75px;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 3px;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: dodgerblue;
}
.buttonContainer button:focus {
    outline: none;
}

  /*FORM STYLES */
  .form-container {
      margin: 20px auto;
  }
  .user-input {
      display: block;
      width: 100%;
  }
  .twittForm label {

  }
  .twittForm input {
      /* background: rgba(55,76,102, .3); */
      border: 1px solid #374c66;
      color: #333;
      font-size: 1.25rem;
      padding: 5px 0;
      width: 98%;
  }
  .twittForm input:hover {
      
  }
  .twittForm input:focus {
      outline: 0px;
  }
  
} 

@media (min-width: 400px) {
  
} 

@media (min-width:  600p) {
 
} 

@media (min-width: 768px){
  .container {
        width: 750px;
 }
} 

@media (min-width: 992px){
  .container {
   
    width: 970px;
        }
    .padded-top {
        padding-top: 16px;
    }
    
}